
<div id="page">
   <ul class="list one gap-3 clicked" id="page-container" data-type="page-items" style="user-select: none;">

   <div data-type="page-items" draggable="true" type="button" class="btn btn-primary btn-tutor-title rounded-button" id="newItem_0"><p class="page-item" id="page-item">Title</p><p class="removeFromDom">Tutor Title</p></div><div data-type="page-row" draggable="true" type="button" class="btn btn-warning btn-row btn-row-item drop-box rounded-button grid" id="newItem_1">
            <p class="removeFromDom">Row</p>
            <ul class="list one page-item-ul grid grid-flow-col gap-1" id="page-item-ul" data-type="page-row">
               
            <div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_2"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_2" required="" style="border: none;box-shadow: none;text-align: center;"></div><div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_3"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_3" required="" style="border: none;box-shadow: none;text-align: center;"></div></ul>
         </div><div data-type="page-row" draggable="true" type="button" class="btn btn-warning btn-row btn-row-item drop-box rounded-button grid" id="newItem_4">
            <p class="removeFromDom">Row</p>
            <ul class="list one page-item-ul grid grid-flow-col gap-1" id="page-item-ul" data-type="page-row">
               
            <div data-type="page-items" draggable="true" type="button" class="btn btn-info btn-column drop-box rounded-button" id="newItem_5">
            <p class="removeFromDom">Column</p>
            <ul class="list one d-flex flex-column gap-2" id="page-item-rl-row" data-type="page-row"><div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_9"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_9" required="" style="border: none;box-shadow: none;text-align: center;"></div><div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_10"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_10" required="" style="border: none;box-shadow: none;text-align: center;"></div></ul>
         </div><div data-type="page-row" draggable="true" type="button" class="btn btn-warning btn-row btn-row-item drop-box rounded-button grid" id="newItem_6">
            <p class="removeFromDom">Row</p>
            <ul class="list one page-item-ul grid grid-flow-col gap-1" id="page-item-ul" data-type="page-row">
               
            <div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_7"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_7" required="" style="border: none;box-shadow: none;text-align: center;"></div><div data-type="page-row" draggable="true" type="button" class="btn btn-light btn-input-box-t rounded-button" id="newItem_8"><input type="text" class="form-control" placeholder="Text Box" id="inputItem_8" required="" style="border: none;box-shadow: none;text-align: center;"></div></ul>
         </div></ul>
         </div><div data-type="page-items" draggable="true" type="button" class="btn btn-info btn-column drop-box rounded-button" id="newItem_11">
            <p class="removeFromDom">Column</p>
            <ul class="list one d-flex flex-column gap-2" id="page-item-rl-row" data-type="page-row"></ul>
         </div></ul>
   <div class="container mx-auto flex flex-col  py-1 justify-center items-center " id="title-container">
      
   </div>
</div>   